body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h1, h2 {
  font-family: 'Rock Salt', cursive;
  color: #5F6C7C;
}
header{
  background-color: #6B9AD4;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
header h1{
  color: white;
  font-size: 40px;
}
header img{
  border-radius: 150px;
  border: 8px solid #5F6C7C;
}
main{
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
main img{
  max-width: 100%;
}